body {
	/* background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
	  url("https://img.freepik.com/free-photo/glass-bottles-beer-with-glass-ice-dark-background_1150-8901.jpg?w=1380&t=st=1675872713~exp=1675873313~hmac=5b3610be203a4b1ea22f98b970aee3f1ffad09582008c34b4e369db93591b6f0");
	  color: #ecb465; */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    min-height: 100vh;
    color: #ecb465 !important;
  }

  .textBienvenidos {
    display: block;
    font-size: calc(1em + 3vmax);
    line-height: 1.1;
    text-align: center;
    color: #ecb465;
  }

  #btnTable {
    background-color: transparent;
    border-radius: 20%;
    margin-left: 0,5rem;
   
    border: 1px solid #ecb465;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }


  /*informacion*/

  .color {

    background: #041c32ce;


  }

 

  .info{background-color:#f0a53d91;}

 

  .info2{background-color:rgba(8, 6, 1, 0.814) ;

   color: aliceblue;  

 

  }