.navBg{
  background-color: #080126f7;
  
  
}


.CodeBeer{
  width: 100px;
}



 .btn{
  background: #ecb46591 !important;
  cursor:pointer;
  border-radius: 40px;
  
 }

a.nav-link{
 color: #ecb46591;
 margin: 15px;
}

span.navbar-toggler-icon{
  color:rgb(253, 253, 253) ;
  width: 40px;
  height: 30px;
}

button.ms-2.btn.btn-dark{
  color: rgb(4, 1, 1);
  font-size: 21px;
margin: 15px;
background: #ecb46591 ;

}



