.color {
    background: rgba(169, 169, 169, 0.569);
    margin-top: 5rem;
  }

  .info{background-color: rgba(167, 124, 14, 0.867);}

  .info2{background-color:rgba(8, 6, 1, 0.814) ;
   color: aliceblue;  
  
  
  }