body {
	background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
	  url("https://img.freepik.com/free-photo/glass-bottles-beer-with-glass-ice-dark-background_1150-8901.jpg?w=1380&t=st=1675872713~exp=1675873313~hmac=5b3610be203a4b1ea22f98b970aee3f1ffad09582008c34b4e369db93591b6f0");
	  color: #ecb465;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  }
  #myCartBtn{
	background-color: #ecb465df;
	border-radius: 20%;
    margin-left: 1rem;
    margin-bottom: 1rem;
	border:1px solid #ecb465;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
}

#myCartBtn:focus:hover{
    background-color: #ecb465;
    box-shadow: 3px 4px 0px 0px #ecb465;
    color: white;
	
}

#cartOrderButtons{
	background-color: #ecb46591;
	border-radius: 20%;
    margin-left: 1rem;
    margin-bottom: 1rem;
	border:1px solid #ecb465;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
}

#cartOrderButtons:focus:hover{
    background-color: #ecb465 !important;
    box-shadow: 3px 4px 0px 0px #ecb465;
    color: white;
}

.bg-pedido{
	background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
	  url("https://img.freepik.com/free-photo/male-bartender-pouring-beer-pub_1303-19964.jpg?w=1380&t=st=1676038686~exp=1676039286~hmac=87743cdf6f5e39bae8f4c3e222668de6f636f4ffbfde2022343a8632d48d92c3");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #ecb465 !important;
}