body {
	background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
	  url("https://img.freepik.com/free-photo/glass-bottles-beer-with-glass-ice-dark-background_1150-8901.jpg?w=1380&t=st=1675872713~exp=1675873313~hmac=5b3610be203a4b1ea22f98b970aee3f1ffad09582008c34b4e369db93591b6f0");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  }
