*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    
    background-color: #041C32;
    color: #ECB365;
      
}

.form{
    background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833));
    
}

.colorBotones{
    background-color: #04293A;
   border: #041C32;
   color: #ECB365;
}
.form{
    background-color: #04293A;
    
}



.botonIngresar{
    
   
    border-radius: 5rem;
    border: none; 
    background-color: #064663;
    color: #ECB365;
}


.botonRegistroGF{
    background-color: #04293A;
    border: #ECB365;
    color: #ECB365;
   
}


