body {
  background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
    url("https://images.adsttc.com/media/images/5a32/4c74/b22e/385c/9e00/009f/large_jpg/250917__-__Antares_Guemes_ph_G_Viramonte-7896.jpg?1513245806");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ecb465;
}

.textBienvenidos {
  display: block;
  
  font-size: calc(1em + 3vmax);
  line-height: 1.1;
  text-align: center;
  color: #ecb465;
}

#btnTable {
  background-color: transparent;
  border-radius: 20%;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ecb465;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#btnTable:focus {
  background-color: #ecb465;
  box-shadow: 3px 4px 0px 0px #ecb465;
  color: white;
}

.optionTable {
  background-color: transparent !important;
  color: #ecb465;
  text-align: center !important;
}

.optionTable:focus:checked:hover {
  background-color: transparent !important;
}

#optionForm {
  color: white;
}

#optionForm:active:hover:focus {
  color: white;
}

select {
  background-color: black !important;
  color: white;
}

option {
  background-color: black !important;
  color: white;
}

option:checked:hover:focus {
  background-color: black !important;
  color: white;
}

