*{
    min-width: 100vh;
    background-color: #041C32;
    color:#ECB365

}
.Titulo{
    color:#ECB365;
}
.botonGeneral{
    background-color: #041C32;
    border-radius: 20%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ECB365 ;
    cursor: pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
.formDescripcion{
    resize: none;
}